<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=us-ascii">
        <meta name="description" content="The Harvard Crimson Journalism Awards is a program aimed at recognizing extraordinary high school journalists in the fields of writing, photography, videography, design, and more.">
        <title>Journalism Awards | The Harvard Crimson</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Merriweather:300,400,700" type="text/css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700" type="text/css">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        {% block css %}{% endblock css %}
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/scripts.js"></script>
        <script type="text/javascript">
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-327124-9', 'thecrimson.com');
                ga('send', 'pageview');
        </script>
        {% block js %}{% endblock js %}
    </head>

    <body>
        <div id="wrapper">
            <div id="header">
                <div id="header-top" class="row">
                    <a id="logo" href=""><img alt="Harvard Crimson Seal" src="assets/logo.png" height="90" width="90"></a>

                    <div id="title">
                        <h1><a href="">The Harvard Crimson</a></h1>

                        <h2><a href="">Journalism Awards</a></h2>
                    </div>

                    <div id="address">
                        14 Plympton Street<br>
                        Cambridge, MA 02138
                    </div>
                </div>

                <div id="navigation" class="row">
                    <ul>
                        {% if __file__ == 'index.html' %}
                        <li class="active">
                        {% else %}
                        <li>
                        {% endif %}
                            <a href="/">Home</a>
                        </li>
                        {% if __file__ == 'categories.html' %}
                        <li class="active">
                        {% else %}
                        <li>
                        {% endif %}
                            <a href="categories.html">Award Categories</a>
                        </li>
                        {% if __file__ == 'apply.html' %}
                        <li class="active">
                        {% else %}
                        <li>
                        {% endif %}
                            <a href="apply.html">Apply</a>
                        </li>
                        {% if __file__ == 'contact.html' %}
                        <li class="active">
                        {% else %}
                        <li>
                        {% endif %}
                            <a href="contact.html">Subscribe &amp; Contact</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="main">
                {% block content %}{% endblock content %}
            </div>
            <div id="footer">
                <div class="row">
                    <div class="footer-section">
                        <h2>Contact Us</h2>

                        <p>(617) 576-6600<br>
                        <a href="mailto:awards@thecrimson.com">awards@thecrimson.com</a></p>

                        <h2 class="footer-title">Address</h2>

                        <p>14 Plympton Street<br>
                        Cambridge, MA 02138</p>
                    </div>

                    <div class="footer-section">
                        <h2>Coordinators</h2>

                        <p>Patrick Liu<br>
                        <em>Awards Director</em></p>

                        <p>Matthew Clarida<br>
                        <em>Content Director</em></p>

                        <p>Steven Watros<br>
                        <em>Content Director</em></p>

                        <p>Samuel Weinstock<br>
                        <em>Harvard Crimson President</em></p>
                    </div>

                    <div class="footer-section footer-credit">
                        <p>Copyright 2013 <a href="http://www.thecrimson.com"><em>The Harvard
                        Crimson</em></a><br>
                        Site design by <a href="http://www.angelaconstance.com">Angela
                        Li</a><br>
                        Photos courtesy of <a href="http://www.deanshu.com/">Dean Shu</a></p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
